<section class="comment">
  <blockquote>
    <%= comment.text %>
  </blockquote>
  <p class="small text-right">Par <%= comment.user.email %> le <%= l(comment.created_at.to_date, format: "%d/%m/%Y") %></p>
</section>
